nav {
  background-color: var(--dark);
}

.nav-wrapper {
  max-width: 70%;
  margin: 0 auto;
  padding: 16px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  color: var(--white);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
